@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-items-dropdown {
    @apply [&>a>p]:mb-4 [&>a>p]:text-lg [&>a>p]:cursor-pointer [&>a>p]:border-b [&>a>p]:py-3;
  }

  .nav-trigger-icon {
    @apply cursor-pointer w-8 fill-dark-100 transition-all duration-300;
  }
}
